@import "../../styles/variables.scss";
.games {
  padding: 2rem;
  max-width: 1200px;
  width: 100%;
  margin: 2rem auto;
  h1 {
    color: #ffff;
    font-family: $f-workSans;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  &__grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  &__gridItems {
    color: #ffff;
    font-family: $f-workSans;
    cursor: pointer;
    p {
      margin-bottom: 0.4rem;
    }
  }
  &__gridItemsImg {
    position: relative;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  &__gridItemsImg:hover:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    cursor: pointer;
    background-color: rgba(51, 51, 51, 0.459);
  }
  &__pagination {
    margin: 1rem 0;
    display: flex;
    justify-content: flex-end;
    gap: 1.5rem;
    button {
      padding: 0.5rem 2rem;
      border: none;
      border: 2px solid $color_purple;
      background-color: transparent;
      color: #ffff;
      font-family: $f-workSans;
      font-weight: 700;
      cursor: pointer;
    }
    button:hover {
      background-color: $color_purple;
      color: #ffff;
    }
  }
}

