$bg_primary: #212c42;
$color_purple: #6e3dc8;
$color_white: #ffff;
$color_black: #000000;
$bg_gradient: linear-gradient(90deg, #b932cf 0%, #3593eb 100%);
$f-workSans:  'Work Sans', sans-serif;


/* BREAKPOINTS */

$small_device: 40em;
$medium_device: 48em;
$large_device: 64em;
$xlarge_device: 84em;
